{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot | Bienvenido</title>

  <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
  <link rel="stylesheet" href="{% static 'chatbot/css/style_chatbot.css' %}">


</head>

<body translate="no">
  <input type="checkbox" id="click">
  <label for="click">
    <i class="fab fa-discourse"></i>
    <i class="fas fa-times"></i>
  </label>
  <div class="wrapper">
    <div class="head-text">¿Charlemos? - En línea</div>
    <!-- NOMBRE -->
    <div class="chat-box" id='chat-mai'>
      <div class="desc-text">Complete el siguiente formulario para comenzar a chatear con el próximo agente disponible.
      </div>
      <form action="#">
        <div class="field">
          <input type="text" placeholder="Ingresa tu nombre" id="txtusuario" name="txtusuario">
        </div>
        <p style='text-align: center;color: red;display: none' id='camp_obli'>campo obligatorio</p>
        <div class="field">
          <button type="button" onclick="comenzar_chat()">Comenzar chat</button>
        </div>
      </form>
    </div>
    <!-- CHAT -->
    <div class="chat-box" id='body-chat' style='display: none !important;'>
      <div class="chat-body hide" id="chat2">
        <div id="chat">
          <div class="chat-start">Lunes, 1:27 PM</div>
          <div class="chat-bubble you">Bienvenido a nuestro sitio, si necesita ayuda, simplemente responda a este
            mensaje, estamos en línea y listos para ayudar.</div>
          <div class="chat-bubble me"> holaaaa </div>
        </div>
      </div>
      <div class="chat-bar-input-block">
        <div id="userInput">
          <input id="textInput" class="input-box" type="text" name="msg" placeholder="Escribir...">
          <p></p>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'chatbot/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'chatbot/js/chatbot.js' %}"></script>

</body>

</html>