@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* overflow: hidden; */
  background: #f2f2f2;
}

#click {
  display: none !important;
}

#label_l {
  position: fixed !important;
  right: 25px !important;
  bottom: 15px !important;
  height: 55px !important;
  width: 55px !important;
  background: -webkit-linear-gradient(left, #2C3B5E, #62b2cf) !important;
  text-align: center !important;
  line-height: 55px !important;
  border-radius: 50px !important;
  font-size: 30px !important;
  color: #fff !important;
  cursor: pointer !important;
  z-index: 1000;
}

#label_l i {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  transition: all 0.4s ease !important;
}

#label_l i.fab {
  opacity: 0 !important;
  pointer-events: none !important;
}

#click:checked~#label_l i.fab {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: translate(-50%, -50%) rotate(360deg) !important;
}

#click:checked~#label_l i.fas {
  opacity: 0 !important;
  pointer-events: none !important;
  transform: translate(-50%, -50%) rotate(180deg) !important;
}

.wrapper2 {
  position: fixed !important;
  right: 30px !important;
  bottom: 80px !important;
  max-width: 400px !important;
  background: #fff !important;
  border-radius: 15px !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1) !important;
  opacity: 1 !important;

  margin-bottom: 6px !important;
  margin-right: 4px !important;
  z-index: 9999999 !important;
}

#click:checked~.wrapper2 {
  opacity: 0 !important;
  bottom: 0px !important;
  pointer-events: none !important;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  z-index: 1000;
}

.wrapper2 .head-text {
  line-height: 60px !important;
  color: #fff !important;
  border-radius: 15px 15px 0 0 !important;
  padding: 0 20px !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  background: -webkit-linear-gradient(left, #08090a, #62b2cf) !important;
}

.wrapper2 .chat-box {
  padding: 20px !important;
  width: 100% !important;
}

.chat-box .desc-text {
  color: #515365 !important;
  text-align: center !important;
  line-height: 25px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.chat-box #form_id {
  padding: 10px 15px !important;
  margin: 20px 0 !important;
  border-radius: 25px !important;
  border: 1px solid lightgrey !important;
}

.chat-box #form_id .field {
  height: 50px !important;
  width: 100% !important;
  margin-top: 20px !important;
}

.chat-box #form_id .field:last-child {
  margin-bottom: 15px !important;
}

#form_id .field input,
#form_id .field button,
#form_id .textarea textarea {
  width: 100% !important;
  height: 100% !important;
  padding-left: 20px !important;
  border: 1px solid lightgrey !important;
  outline: none !important;
  border-radius: 25px !important;
  font-size: 16px !important;
  transition: all 0.3s ease !important;
}

#form_id .field input:focus,
#form_id .textarea textarea:focus {
  border-color: #2C3B5E !important;
}

#form_id .field input::placeholder,
#form_id .textarea textarea::placeholder {
  color: silver !important;
  transition: all 0.3s ease !important;
}

#form_id .field input:focus::placeholder,
#form_id .textarea textarea:focus::placeholder {
  color: lightgrey !important;
}

.chat-box #form_id .textarea {
  height: 70px !important;
  width: 100% !important;
}

.chat-box #form_id .textarea textarea {
  height: 100% !important;
  border-radius: 50px !important;
  resize: none !important;
  padding: 15px 20px !important;
  font-size: 16px !important;
}

.chat-box #form_id .field button {
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  background: -webkit-linear-gradient(left, #2C3B5E, #62b2cf) !important;
  transition: all 0.3s ease !important;
}

.chat-box #form_id .field button:active {
  transform: scale(0.97) !important;
}

/* MESSAGES */
.chat-body {
  padding: 11px !important;
  /* padding: 25px !important; */
  display: inline-block !important;
  /* background: #f1f1f16b !important; */
  min-height: 420px !important;
  overflow-y: scroll !important;
  height: 20px !important;
  border-radius: 20px 20px 20px 20px !important;
}

.chat-body .chat-start {
  border: 1px solid #354c6d !important;
  width: 175px !important;
  border-radius: 50px !important;
  padding: 6px 10px !important;
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 15px !important;
  background: #fff !important;
}

.chat-body .chat-bubble {
  font-size: 14px !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
  display: inline-block !important;
  clear: both !important;
  margin-bottom: 10px !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02) !important;
  text-align: justify !important;
}

.chat-body .chat-bubble.you {
  background: #f1f3fa !important;
  color: #000 !important;
  border-radius: 0 15px 15px 15px !important;
  align-self: flex-start !important;
  display: table !important;

}

.chat-body .chat-bubble.me {
  background: #2C3B5E !important;
  color: #fff !important;
  border-radius: 15px 0px 15px 15px !important;
  float: right !important;
  align-self: flex-end !important;
  display: table !important;
}

.chat-bar-input-block {
  display: flex !important;
  float: left !important;
  box-sizing: border-box !important;
  justify-content: space-between !important;
  width: 100% !important;
  align-items: center !important;
  border-radius: 10px 10px 0px 0px !important;
  padding: 10px 0px 10px 10px !important;
  cursor: pointer !important;
}

.chat-bar-icons {
  /* display: flex !important; */
  justify-content: space-evenly !important;
  box-sizing: border-box !important;
  width: 20% !important;
  float: right !important;
  font-size: 30px !important;
  border-radius: 10px 10px 10px 10px !important;
  background-color: #fbf7f7de;
  transition: background-color .5s;
}

.chat-bar-icons:hover {
  background-color: #e4cdcdde;
}

#userInput {
  width: 100% !important;
}

.input-box {
  float: left !important;
  border: none !important;
  box-sizing: border-box !important;
  width: 95% !important;
  border-radius: 10px !important;
  padding: 10px !important;
  font-size: 16px !important;
  color: #000 !important;
  background-color: white !important;
  outline: none !important;
  background: #fbf7f7de !important;
}

/* Messages */
.messages__item--typing {
  will-change: transform !important;
  width: auto !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  padding: 15px 20px !important;
  display: table !important;
  margin-right: auto !important;
  position: relative !important;
  animation: 2s bulge infinite ease-out !important;
}

.messages__item--typing::before,
.messages__item--typing::after {
  content: '' !important;
  position: absolute !important;
  bottom: -2px !important;
  left: -2px !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
}

.messages__item--typing::after {
  height: 10px !important;
  width: 10px !important;
  left: -10px !important;
  bottom: -10px !important;
}

span.messages__dot {
  height: 8px !important;
  width: 8px !important;
  float: left !important;
  margin: 0 1px !important;
  background-color: #9E9EA1 !important;
  display: block !important;
  border-radius: 50% !important;
  opacity: 0.4 !important;
  animation: 1s blink infinite !important;
}

@keyframes blink {
  50% {
    opacity: 1 !important;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05) !important;
  }
}

.messages__item {
  margin-top: 10px !important;
  background: #E0E0E0 !important;
  padding: 12px 12px !important;
  max-width: 70% !important;
  /* top: 185px !important; */
  margin-left: 26px !important;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.messages__item--operator {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  background: var(--primary) !important;
  color: white !important;
}

#chat2 {
  scrollbar-color: #6d868f transparent !important;
  scrollbar-width: thin !important;
}

#chat2::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

#chat2::-webkit-scrollbar-track {
  background-color: transparent !important;
}

#chat2::-webkit-scrollbar-thumb {
  background-color: #ecf0f1 !important;
}

/* 
.chatbox__messages{
  position: relative;
  top: 213px;
  left: -10px;

} */

@media (max-width: 426px) {
  .wrapper2 {
    margin: 10px 20px 10px 30px !important
  }
}

/******************* SLIDER *********************/


#container-slider {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 60px;
}

#slider {
  position: relative;
  display: block;
  width: 100%;
  /* height: 100vh; */
  min-height: 200px;
  /* margin-bottom: 55px; */
  /* margin-top: 105px; */
}


#slider li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: -1;
  opacity: 0;
}

#container-slider .arrowPrev,
#container-slider .arrowNext {
  font-size: 30pt;
  color: rgba(204, 204, 204, 0.65);
  cursor: pointer;
  position: absolute;
  top: 35%;
  left: 10px;
  z-index: 2;
}

#container-slider .arrowNext {
  left: initial;
  right: 10px !important;
}

.content_slider {
  padding: 15px 30px;
  color: #FFF;
  width: 100%;
  height: 100%;
  text-align: left;
}

.content_slider h5 {

  font-size: 15pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 105px;
  margin-bottom: 5px;
  color: #FFF;
  font-weight: bold;
  text-align: left;
  
}

.content_slider p {
  font-size: 13pt;
  font-family: 'arial';
  color: #FFF;
  margin-bottom: 10px;
}

#slider li .content_slider{
  background: rgba(0, 0, 0, 0.4);
  /* padding: 10px 125px; */
}

 .btnSlider{
  color: #FFF;
  font-size: 10pt;
  font-family: 'arial';
  letter-spacing: 2px;
  font-weight: bold;

  /*
  
  padding: 5px 125px 5px 115px;
   */
}

.btnAccion {
  background-color:  rgb(223,4,11);;
  text-align: center;
  transition: .5s all;
  padding: 7px 0px 7px 0px;
  margin-bottom: 5px;
}

.btnAccion:hover{
  background: #FF8000;
  border: 1px solid rgb(223,4,11);
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 48%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}

.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.listslider li a {
  /* background: #CCC; */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}


@media screen and (max-width: 460px) {
  .content_slider h2 {
    font-size: 15pt !important;
  }

  .content_slider p {
    font-size: 12pt !important;
  }

  #container-slider .arrowPrev,
  #container-slider .arrowNext {
    font-size: 20pt;
  }

  #container-slider .arrowPrev {
    left: 15px;
  }

  #container-slider .arrowNext {
    right: 15px !important;
  }

  #slider {
    height: 400px;
    min-height: 400px;
  }

  #slider li .content_slider {
    padding: 10px 35px;
  }

  .btnSlider {
    padding: 10px 30px;
    font-size: 10pt;
  }
}