env
app/chatbot/__pycache__
app/chatbot/migrations

app/chatbot_admin/__pycache__
app/chatbot_admin/migrations

app/profile_user/__pycache__
app/profile_user/migrations

notes.txt

app/*.sqlite3
app/*.crt
app/*.key

app/set_datos/*

recursosCajaSullana