env/*
my_env/*
app/chatbot/__pycache__/*
app/chatbot/migrations/*

app/chatbot_admin/__pycache__/*
app/chatbot_admin/migrations/*

app/profile_user/__pycache__/*
app/profile_user/migrations/*

app/api/__pycache__/*
app/api/migrations/*
configuracion_servidor.txt

notes.txt

app/*.sqlite3


app/set_datos/*

recursosCajaSullana

app/media/
app/bot/__pycache__/*

