{% load static %}

    <link rel="shortcut icon" href="{% static 'chatbot_admin/assets/images/favicon.ico' %}">
    <link href="{% static 'chatbot_admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'chatbot_admin/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
    <link href="{% static 'chatbot_admin/assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">

    <!-- INTEGRACION DEL CHATBOT -->
    <link rel="stylesheet" href="{% static 'chatbot/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chatbot/css/chatBot.css' %}">