{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>{% block title %} Confirmar {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
  <meta content="Coderthemes" name="author">
  {% include 'chatbot_admin/layouts/head.html' %}

</head>
<input type="hidden" name="id_user_logueado" id="id_user_logueado" value='{{ id_user }}'>
<input type="hidden" name="username_logueado" id="username_logueado" value='{{ username_user }}'>
<input type="hidden" name="nombrebd_logueado" id="nombrebd_logueado" value='{{ nombreBD }}'>
<input type="hidden" name="empresa_logueado" id="empresa_logueado" value='{{ id_empresa }}'>
<input type="hidden" name="permisos_logueado" id="permisos_logueado" value='{{ tipo_usu }}'>
<input type="hidden" name="user_autenticate_logueado" id="user_autenticate_logueado" value='{{ user_autenticate }}'>

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card">
          <div class="card-body p-4">
            <div class="text-center">
              <h4 class="text-error mt-1"
                style="font-size: 3.25rem;color: #b30707;text-shadow: rgb(114 124 245 / 30%) 5px 1px, rgb(221 160 160 / 20%) 10px 3px;">
                IMPORTANTE</h4>
                <img src="{% static 'chatbot_admin/assets/images/Chatbot2.png' %}" height="230" alt="File not found Image">
              <p class="text-muted mt-3">Para poder continuar, es necesario registrar tu empresa</p>
              <input type="hidden" value='{{ validar_cliente }}'>
              <a class="btn btn-outline-info mt-3" href="#" onclick="return fn_id_user()"><i class="dripicons-exit me-2"></i>
                ir a registrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

function randomCoding_intro(){
    // Crea una matriz de 26 letras
    var arr = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','0','1','2','3','4','5','6','7','8','9'];
    var idvalue ='';
    let n = 5; // Este valor se puede cambiar, correspondiente a cuantas letras se generan, cámbialo según tus necesidades
    for (let i = 0; i < n; i++) {
      idvalue+=arr[Math.floor(Math.random()*36)];
    }
    return idvalue;
  }


  var Ls = localStorage.getItem('datos')
  var id_cliente = JSON.parse(Ls).id_cliente;

  function fn_id_user(){
    var url_python = '{% url "register-company" %}?i='+ (randomCoding_intro().toString() + id_cliente +  randomCoding_intro().toString())
    location.replace(url_python)
  }


</script>
{% endblock %}
{% include 'chatbot_admin/layouts/footer.html' %}