{% extends "chatbot_admin/layouts/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">CHATBOT</a></li>
            <li class="breadcrumb-item active">Apariencia</li>
          </ol>
        </div>
        <h4 class="page-title">Probando chatbot</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card card-h-100">
        <div class="card-body">
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a href="#inici_chatbot" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                <span class="d-none d-md-block">Inicio del Chatbot</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#cuerpo_chatbot" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                <span class="d-none d-md-block">Chatbot</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="inici_chatbot">
              <div class="wrapper2_apa">
                <div class="head-text">¿Charlemos? - En línea</div>
                <!-- NOMBRE -->
                <div class="chat-box">
                  <div class="desc-text">Complete el siguiente formulario para comenzar a chatear con el próximo agente
                    disponible.
                  </div>
                  <div id="form_id">
                    <div class="field">
                      <input type="text" placeholder="Ingresa tu nombre" id="txtusuario" name="txtusuario">
                    </div>
                    <div class="field">
                      <button type="button" onclick="comenzar_chat()">Comenzar chat</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="cuerpo_chatbot">
              <div class="wrapper2_apa">
                <div class="head-text">¿Charlemos? - En línea</div>
                <!-- CHAT -->
                <div class="chat-box">
                  <div class="chat-body" style="overflow-y: auto !important;">
                    <div>
                      <div class="chat-start">Lunes, 1:27 PM</div>
                      <div class="chat-bubble you">Bienvenido a nuestro sitio, si necesita ayuda, simplemente responda a
                        este
                        mensaje, estamos en línea y listos para ayudar.</div>
                    </div>
                  </div>
                  <div class="chat-bar-input-block" style="float: inherit !important;">
                    <input class="input-box" type="text" placeholder="Escribe aquí...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6">
      <div class="card card-h-100">
        <div class="card-body">
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a href="#horariocomercial" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                <span class="d-none d-md-block">Horario comercial</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#fuerahorario" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                <span class="d-none d-md-block">Fuera de horario</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="horariocomercial">
              <div class="card border-secondary border">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to
                    additional content.</p>
                  <a href="javascript: void(0);" class="btn btn-secondary btn-sm">Button</a>
                </div> <!-- end card-body-->
              </div>
              <p>...</p>
            </div>
            <div class="tab-pane show active" id="fuerahorario">
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}