{% extends "chatbot_admin/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">REPORTES</a></li>
                <li class="breadcrumb-item active">Datos por historial</li>
            </ol>
            </div>
            <h4 class="page-title">Datos recibidor por historial</h4>
        </div>
        </div>
    </div>


    <div class="row">
        <center>
            <div class="col-md-4">
                <div class="card border-secondary border">
                    <div class="card-body">
                        <h5 class="card-title">Reporte por fechas</h5>
                            <input type="text" name="datos_dinamicos" class="form-control pull-right mb-2">
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </center>
    </div>


    <div class="row">
        
        <div class="col-xl-12">

            <!-- <div class="card">
                <div class="card-body">
                 
                    <table class="table table-hover table-centered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Campos requeridos</th>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody id="show__rpt_rt2">
                           
                        </tbody>
                    </table>



                </div>
            </div> -->


                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Stripped Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="data__tables" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Campos requeridos</th>
                                    <th>Nombre</th>
                                    <th>Correo Electrónico</th>
                                    <th>Teléfono</th>
                                </tr>
                            </thead>
                            <tbody id="show__rpt_rt2">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>



    </div>

</div>
{% endblock content %}