{% extends "chatbot_admin/layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
            <li class="breadcrumb-item active">Starter</li>
          </ol>
        </div>
        <h4 class="page-title">Perfil</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-lg-4">
      <div class="card-body">
        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
          <li class="nav-item">
            <a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
              Datos básicos
            </a>
          </li>
          <li class="nav-item">
            <a href="#timeline" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
              Cambiar contraseña
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane show" id="timeline">
            <div class="border rounded mt-2 mb-3">
              <h1>Cambiar contraseña</h1>
            </div>
          </div>
          <div class="tab-pane active" id="settings">
            {% if form.errors %}
              <div class="alert alert-danger" role="alert">
                <i class="dripicons-checkmark me-2"></i> 
                  Mensaje de error
              </div>
            {% endif %}
            <form action="{% url 'guardarCliente' %}" method='POST'>
              {% csrf_token %} 
                {% if mensaje %}
                  <div class="alert alert-success" role="alert">
                    <i class="dripicons-checkmark me-2"></i> 
                      Cliente registrado exitosamente
                  </div>
                {% endif %}
              {{ form|crispy }}
              <div class="text-end">
                <button type="submit" class="btn btn-success mt-2"><i class="mdi mdi-content-save"></i> Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}