{% load static %}


<script>
  var verificarsession = localStorage.getItem('datos');
  var id_empresa = JSON.parse(Ls).id_empresa;
  document.querySelector(".username_user_ls").innerText = JSON.parse(Ls).username
  if(id_empresa == ""){
    var url_python = '{% url "logout" %}'
    location.replace(url_python)
    localStorage.removeItem('datos')
  }
  console.log("verificarsession :",verificarsession)
  console.log("id_empresa :",id_empresa)
</script>


<script src="{% static 'chatbot_admin/assets/js/vendor.min.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/app.min.js' %}"></script>


<script src="//cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script src="{% static 'chatbot_admin/assets/js/pickr.js' %}"></script>


<script src="{% static 'chatbot_admin/assets/js/datatables.min.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/jszip.min.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/pdfmake.min.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/vfs_fonts.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/buttons.html5.min.js' %}"></script>

<script src="{% static 'chatbot_admin/assets/js/reportes.js' %}"></script>
<script src="{% static 'chatbot_admin/assets/js/respuestas.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- <script id='libreria_chatbot' user='{{ id_user }}' empresa='{{ id_empresa }}' src="{% static 'chatbot/js/chatbot.js' %}" ></script> -->
<script src="{% static 'chatbot/js/chatbot.js' %}"></script>



<!-- <script>
  $("#colores").spectrum({
    allowEmpty: true,
    showInitial: true,
    showInput: true
  });
</script> -->