{% load static %}
<link rel="shortcut icon" href="{% static 'chatbot_admin/assets/images/chatbot.png' %}">
<link href="{% static 'chatbot_admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'chatbot_admin/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style">
<link href="{% static 'chatbot_admin/assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style">
<link rel="stylesheet" type="text/css" href="{% static 'chatbot_admin/assets/plugins/daterangepicker/daterangepicker.css' %}" />
<link href="{% static 'chatbot/css/style_apariencia.css' %}" rel="stylesheet" type="text/css" id="dark-style">