{% load static %}
<div class="leftside-menu">
  <a href="{% url 'home' %}" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="{% static 'chatbot_admin/assets/images/logo.png' %}" alt="" height="16">
    </span>
    <span class="logo-sm">
      <img src="{% static 'chatbot_admin/assets/images/logo_sm.png' %}" alt="" height="16">
    </span>
  </a>
  <a href="{% url 'home' %}" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="{% static 'chatbot_admin/assets/images/logo-dark.png' %}" alt="" height="16">
    </span>
    <span class="logo-sm">
      <img src="{% static 'chatbot_admin/assets/images/logo_sm_dark.png' %}" alt="" height="16">
    </span>
  </a>
  <div class="h-100" id="leftside-menu-container" data-simplebar="">
    <ul class="side-nav">
      <li class="side-nav-title side-nav-item">Navigation</li>
      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
          <i class="uil-user-circle"></i>
          <span> Perfil </span>
        </a>
      </li>
      <li class="side-nav-item" id="li_Clientes" style="display: none">
        <a href="{% url 'clientes' %}" class="side-nav-link">
          <i class="uil-store"></i>
          <span> Clientes </span>
        </a>
      </li>
      <li class="side-nav-item" id="li_Usuarios" style="display: none">
        <a href="{% url 'usuarios' %}" class="side-nav-link">
          <i class="uil-users-alt"></i>
          <span> Usuarios </span>
        </a>
      </li>
      <li class="side-nav-title side-nav-item">CHATBOT</li>
      <li class="side-nav-item">
        <a href="{% url 'configuraciones' %}" class="side-nav-link">
          <i class="dripicons-gear noti-icon"></i>
          <span> Configuraciones </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'personalizar' %}" class="side-nav-link">
          <i class="uil-palette"></i>
          <span> Personalizar </span>
        </a>
      </li>
      <li class="side-nav-item">
        <!-- <a href="{% url 'respuestas' %}" class="side-nav-link"> -->
        <a href="#" onclick="return fn_id_respuestas()" class="side-nav-link">
          <i class="uil-comments-alt"></i>
          <span> Respuestas </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="#" onclick="return fn_test_chatbot()" class="side-nav-link">
          <i class="uil-robot"></i>
          <span> Probar chatbot </span>
        </a>
      </li>
      <li class="side-nav-title side-nav-item">Reportes</li>
      <li class="side-nav-item">
        <a href="#" onclick="return fn_id_historial()" id="capturalink" class="side-nav-link">
          <i class="mdi mdi-wechat"></i>
          <span> Historial </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'datos-por-historial' %}" class="side-nav-link">
          <i class="mdi mdi-tooltip-text-outline"></i>
          <span> Datos dinámicos </span>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<script>
  var Ls = localStorage.getItem('datos')
  var id_empresa = JSON.parse(Ls).id_empresa;
  var id_cliente = JSON.parse(Ls).id_cliente;



  function randomCoding(){
    // Crea una matriz de 26 letras
    var arr = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','0','1','2','3','4','5','6','7','8','9'];
    var idvalue ='';
    let n = 5; // Este valor se puede cambiar, correspondiente a cuantas letras se generan, cámbialo según tus necesidades
    for (let i = 0; i < n; i++) {
      idvalue+=arr[Math.floor(Math.random()*36)];
    }
    return idvalue;
  }

  function fn_id_historial() {
    var url_python = '{% url "historial" %}?id_empresa=' + (randomCoding().toString() + id_empresa +  randomCoding().toString())
    location.replace(url_python)
  }

  function fn_id_respuestas() {
    var url_python = '{% url "respuestas" %}?i=' + (randomCoding().toString() + id_empresa +  randomCoding().toString())
    location.replace(url_python)
  }
  function fn_test_chatbot() {
    var url_python = '{% url "test_chatbot" %}?emp=' + id_empresa + '&us=' + id_cliente
    location.replace(url_python)
  }
</script>