{% load static %}
<div class="leftside-menu">

  <!-- LOGO -->
  <a href="{% url 'home' %}" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="{% static 'chatbot_admin/assets/images/logo.png' %}" alt="" height="16">
    </span>
    <span class="logo-sm">
      <img src="{% static 'chatbot_admin/assets/images/logo_sm.png' %}" alt="" height="16">
    </span>
  </a>

  <!-- LOGO -->
  <a href="{% url 'home' %}" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="{% static 'chatbot_admin/assets/images/logo-dark.png' %}" alt="" height="16">
    </span>
    <span class="logo-sm">
      <img src="{% static 'chatbot_admin/assets/images/logo_sm_dark.png' %}" alt="" height="16">
    </span>
  </a>

  <div class="h-100" id="leftside-menu-container" data-simplebar="">

    <!--- Sidemenu -->
    <ul class="side-nav">

      <li class="side-nav-title side-nav-item">Navigation</li>

      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
          <i class="uil-user-circle"></i>
          <span> Perfil </span>
        </a>
      </li>

      <!-- <li class="side-nav-item">
        <a href="#" class="side-nav-link">
          <i class="uil-user-circle"></i>
          <span> Empresa </span>
        </a>
      </li> -->

      <li class="side-nav-item li_permisos" style="display: none">
        <a href="{% url 'clientes' %}" class="side-nav-link">
          <i class="uil-store"></i>
          <span> Clientes </span>
        </a>
      </li>
      <li class="side-nav-item li_permisos" style="display: none">
        <a href="{% url 'usuarios' %}" class="side-nav-link">
          <i class="uil-users-alt"></i>
          <span> Usuarios </span>
        </a>
      </li>

      <li class="side-nav-title side-nav-item">CHATBOT</li>
      <!-- <li class="side-nav-item">
        <a href="apps-chat.html" class="side-nav-link">
          <i class="dripicons-gear noti-icon"></i>
          <span> Configuración </span>
        </a>
      </li> -->

      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
          <i class="dripicons-gear noti-icon"></i>
          <span> Configuraciones </span>
        </a>
      </li>

      <li class="side-nav-item">
        <a href="#" class="side-nav-link">
          <i class="uil-palette"></i>
          <span> Apariencia </span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="{% url 'respuestas' %}" class="side-nav-link">
          <i class="uil-comments-alt"></i>
          <span> Respuestas </span>
        </a>
      </li>
      <!-- <li class="side-nav-item">
        <a href="entrenamiento" class="side-nav-link">
          <i class="uil-comment-alt-dots"></i>
          <span> Entrenamiento </span>
        </a>
      </li> -->
      <li class="side-nav-item">
        <a href="{% url 'test_chatbot' %}" class="side-nav-link">
          <i class="uil-robot"></i>
          <span> Probar chatbot </span>
        </a>
      </li>

      <li class="side-nav-title side-nav-item">Reportes</li>
      <!-- <li class="side-nav-item">
        <a href="apps-chat.html" class="side-nav-link">
          <i class="dripicons-gear noti-icon"></i>
          <span> Configuración </span>
        </a>
      </li> -->

      <li class="side-nav-item">
        <a href="{% url 'historial' %}" class="side-nav-link">
          <i class="mdi mdi-wechat"></i>
          <span> Hitorial </span>
        </a>
      </li>
    </ul>

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>