{% extends "chatbot_admin/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">CHATBOT</a></li>
            <li class="breadcrumb-item active">Respuestas</li>
          </ol>
        </div>
        <h4 class="page-title">Respuestas automaticas registradas</h4>
        <br><br>
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
          <i class="dripicons-checkmark me-2"></i> Registrado correctamente!
        </div>
        {% endif %}
        <center><a href="{% url 'registrar_rpta' %}" class="btn btn-danger btn-rounded mb-3 animate__animated animate__backInDown"><i
              class="mdi mdi-plus"></i> Registrar respuestas automaticas</a></center>
        <div class="col-xl-12 col-lg-6">
          <div class="card card-h-100">
            <div class="card-body">
              <table id="#" class="table table-striped dt-responsive nowrap w-100">
                <thead class='table-light'>
                  <tr>
                    <th>#</th>
                    <th>Respuestas automaticas</th>
                    <th>Registrado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% if datos %}
                  {% for dato in datos %}
                  <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.registrado }}</td>
                    <td>
                      <button type="button" onclick="return edit__prg({{ dato.id }})" class="btn btn-info"><i class="mdi mdi-eye"></i>
                      </button>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <th colspan="5" scope="rowgroup" class="text-center">No hay registros</th>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var Ls = localStorage.getItem('datos')
  var id_empresa = JSON.parse(Ls).id_empresa;
  function edit__prg(id) {
    var url_python = '{% url "registrar_rpta" %}?business=' + id_empresa + '&prg=' + id
    location.replace(url_python)
  }
</script>
{% endblock content %}