{% extends "chatbot_admin/layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item animate__animated animate__bounce"><a href="javascript: void(0);">CHATBOT</a></li>
            <li class="breadcrumb-item active animate__animated animate__bounce">Probar chatbot</li>
          </ol>
        </div>
        <h4 class="page-title animate__animated animate__bounce">Probando chatbot</h4>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10" style="margin-top: 80px;">
              <div class="text-center">
                <img src="/static/chatbot_admin/assets/images/chatbot.svg" height="140" alt="File not found Image" class="animate__animated animate__rubberBand">
                <h2 class="mt-1 animate__animated animate__swing">Este es un sitio de prueba</h2>
                <p class="animate__animated animate__jello">Aquí podrá interactuar con el chatbot como lo harán sus clientes</p>
              </div>
            </div>
          </div>
        <script src="{% static 'chatbot/js/chatbot_integration.js' %}"></script>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}